<form action="/payment/results">
  <label for="APR">APR</label>
  <input id="APR" type = "text" placeholder="E.g. 1.5"
  name = "APR">

  <label for="number_years">Number of years</label>
   <input id="number_years" type = "text" placeholder="E.g. 4.5"
  name = "number_years">

  <label for="present_value">Principal</label>
   <input id="present_value" type = "text" placeholder="E.g. 4.5"
  name = "present_value">


  </input>
  <button>Calculate monthly payment</button>
</form>