<form action="/random/results">
  <label for="giraffe_low">Minimum</label>
  <input id="giraffe_low" type = "text" placeholder="E.g. 1.5"
  name = "user_min">
  <label for="giraffe_high">Maximum</label>
   <input id="giraffe_high" type = "text" placeholder="E.g. 4.5"
  name = "user_max">


  </input>
  <button>Pick random number</button>
</form>